.App {
  text-align: center;
}

.heading {
  position: relative;
  background: #f8f8f8;
  width: 400px;
  height: 100px;
  max-width: 500px;
  color: black;
  padding: 0px 0px;
  top: 50px;

  border: 3px solid rgba(0, 0, 0, 0.08);
}

/* @media only screen and (max-width: 767px) {
  .heading {
    width: 250px;
    height: 100px;
  }
} */
.head {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  left: 10px;
  /* color: blue; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
