.prodiv {
  width: 500px;
  height: 100px;
  background-color: whitesmoke;
  color: black;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 0px;
}

.prodiv:hover {
  box-shadow: 0px 5px 10px grey;
  border: 4px solid pink;
  background-color: white;
}

.prodiv:active {
  scale: 0.94;
}

.link {
  color: black;
  /* border: 1px solid black; */
  width: 480px;
}

@media only screen and (max-width: 767px) {
  .prodiv {
    width: 350px;
    height: 100px;
  }
  .prodiv:focus {
    box-shadow: 0px 5px 10px grey;
    border: 4px solid pink;
  }
}
